@media screen and (max-width:1024px){
   
  
}
@media screen and (max-width:992px){

   


}


@media screen and (max-width:600px){
    .tableSec{
        width: min-content;
    }
    .form-select-sm {
       width: 20%;
    }
    .search-box input {
        width: 80%;
    }
    body{
        padding: 10px;
    }
}